@import "tailwindcss";
html,
body,
* {
  cursor: none !important;
}

:root {
  --background: #2a2929;
  --foreground: #ffffff;
}
html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: DIN Alternate;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

.lock-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* nice webkit native scroll */
}
.hero-nav {
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  backdrop-filter: blur(8px); /* for older browsers if needed */
  -webkit-backdrop-filter: blur(8px);
}
.hero-nav a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.hero-nav span {
  color: #979797;
}

.cursor-text {
  width: 2px !important;
  height: 20px !important;
  border-radius: 1px !important;
  background-color: white !important;
}
